<table>
  <tr>
    <th>Name &nbsp; &nbsp; &nbsp;</th>
    <th>Rotation period</th>
    <th>Orbital period</th>
    <th>Diameter</th>
    <th>Climate</th>
    <th>Gravity</th>
    <th>Terrain</th>
    <th>Surface water</th>
    <th>Population</th>
  </tr>

  <tbody>
  <% @planets.each do |p| %>
    <tr>
      <td><%= link_to p["name"], planet_specific_path(url: p["url"])%></td>
      <td><%= p["rotation_period"] %></td>
      <td><%= p["orbital_period"] %></td>
      <td><%= p["diameter"] %></td>
      <td><%= p["climate"] %></td>
      <td><%= p["gravity"] %></td>
      <td><%= p["terrain"] %></td>
      <td><%= p["surface_water"] %></td>
      <td><%= p["population"] %></td>
    </tr>
  <% end %>
</tbody>

</table>


<p></p>

<%= link_to 'FILMS', film_path, :class => "btn btn-default" %>
<%= link_to 'PEOPLE', people_path, :class => "btn btn-default" %>
<%= link_to 'PLANETS', planet_path, :class => "btn btn-default" %>
<%= link_to 'STARSHIPS', starship_path, :class => "btn btn-default" %>