<table>
  <tbody>
      <p>Name: <%= @planet["name"] %></p>
      <p>Rotation period: <%= @planet["rotation_period"] %></p>
      <p>Orbital period: <%= @planet["orbital_period"] %></p>
      <p>Diameter: <%= @planet["diameter"] %></p>
      <p>Climate: <%= @planet["climate"] %></p>
      <p>Gravity: <%= @planet["gravity"] %></p>
      <p>Terrain: <%= @planet["terrain"] %></p>
      <p>Surface water: <%= @planet["surface_water"] %></p>
      <p>Population: <%= @planet["population"] %></p>
      <p>Residents: <%= @planet["residents"] %></p>
      <p>Films: <%= @planet["films"] %></p>
</tbody>

</table>

<p></p>

<%= link_to 'FILMS', film_path, :class => "btn btn-default" %>
<%= link_to 'PEOPLE', people_path, :class => "btn btn-default" %>
<%= link_to 'PLANETS', planet_path, :class => "btn btn-default" %>
<%= link_to 'STARSHIPS', starship_path, :class => "btn btn-default" %>