<table>
  <tbody>
      <td>Name: <%= @planet["name"] %></td>
      <td>Rotation period: <%= @planet["rotation_period"] %></td>
      <td>Orbital period: <%= @planet["orbital_period"] %></td>
      <td>Diameter: <%= @planet["diameter"] %></td>
      <td>Climate: <%= @planet["climate"] %></td>
      <td>Gravity: <%= @planet["gravity"] %></td>
      <td>Terrain: <%= @planet["terrain"] %></td>
      <td>Surface water: <%= @planet["surface_water"] %></td>
      <td>Population: <%= @planet["population"] %></td>
      <td>Residents: <%= @planet["residents"] %></td>
      <td>Films: <%= @planet["films"] %></td>
</tbody>

</table>