<table>  
  <tbody>
    <p>Title: <%= @film["title"] %></p>
    <p>Episode id: <%= @film["episode_id"] %></p>
    <p>Opening crawl: <%= @film["opening_crawl"] %></p>
    <p>Director: <%= @film["director"] %></p>
    <p>Producer: <%= @film["producer"] %></p>
    <p>Release date: <%= @film["release_date"] %></p>
    <p>Caracters: <%= @film["characters"] %></p>
    <p>Planets: <%= @film["planets"] %></p>
    <p>Starships: <%= @film["starships"] %></p>
  </tbody>
</table>

<p></p>

<%= link_to 'FILMS', film_path, :class => "btn btn-default" %>
<%= link_to 'PEOPLE', people_path, :class => "btn btn-default" %>
<%= link_to 'PLANETS', planet_path, :class => "btn btn-default" %>
<%= link_to 'STARSHIPS', starship_path, :class => "btn btn-default" %>