<table>
  <tr>
    <th>Name &nbsp; &nbsp; &nbsp;</th>
    <th>Height</th>
    <th>Mass</th>
    <th>Hair color</th>
    <th>Skin color</th>
    <th>Eye color</th>
    <th>Birth year</th>
    <th>Gender</th>
  </tr>

  <tbody>
    <% @people.each do |p| %>
      <tr>
        <td><%= link_to p["name"], people_specific_path(url: p["url"])%></td>
        <td><%= p["height"] %></td>
        <td><%= p["mass"] %></td>
        <td><%= p["hair_color"] %></td>
        <td><%= p["skin_color"] %></td>
        <td><%= p["eye_color"] %></td>
        <td><%= p["birth_year"] %></td>
        <td><%= p["gender"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</table>

<p></p>

<%= link_to 'FILMS', film_path, :class => "btn btn-default" %>
<%= link_to 'PEOPLE', people_path, :class => "btn btn-default" %>
<%= link_to 'PLANETS', planet_path, :class => "btn btn-default" %>
<%= link_to 'STARSHIPS', starship_path, :class => "btn btn-default" %>